body {
    font-family: "Roboto", monospace, sans-serif;
}
 h3, h2, h4, h5 {
    font-family: "Valera Round", sans-serif;
}

h1 {
    font-family: "Redressed", cursive;
}

h2 {
    font-size: larger;
}

header h1, h2 {
    color: #FF7F50;
}

h3 {
    padding: 10px;
    color:#FF7F50
}

h4 {
    color: #FF7F50;
    padding: 10px;
}

h5 {
    color: white;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #FFE4C4, #E9967A  );
}

.navbar {
    background-color: #FF7F50;
}

.card-deck {
    padding: 10px;
}

.site-footer {
  background-image: linear-gradient(#E9967A, #FFE4C4);
  padding: 20px;
  color: white;
}