body {
    font-family: "Roboto", monospace, sans-serif;
}

h1, h2, h3 {
    font-family: "Valera Round", sans-serif;
}

header h1, h2 {
    color: #FFF8DC;
}

h3 {
    padding: 10px;
    color:#FF7F50
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url("../img/shelf.jpg");
}

.navbar {
    background-color: #FF7F50;
}

.card-deck {
    padding: 10px;
}